* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: sans-serif;
    background: black;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
}

.overlay {
    position: fixed;
    z-index: 10;
    color: white;
    text-align: center;
    top: 40%;
    width: 100%;
    pointer-events: none;
}

.overlay h1 {
    font-size: 48px;
    letter-spacing: 4px;
}
